# Игнорировать все бинарные файлы 1С
Конфигурация  (информационная база)/*.1CD
Конфигурация  (информационная база)/*.1CL
Конфигурация  (информационная база)/1Cv8Log/*
Конфигурация  (информационная база)/*.cgr
# Временные файлы 1С
*.cfl
*.lck
Конфигурация  (информационная база)/1Cv8JobScheduler/
